# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Dammyololade\Desktop\UI_AUTOMATION_TASK\Selenium_Webdriver\Single_Page_Approach\Facebook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
